<%= render '/shared/user_navbar' %>
<div class="col-xs-12">
  <div class="row">
    <div class="col-sm-5 col-md-4 right-gutter hidden-xs">
      <div class="row">
        <section class="post post-small col-xs-12">
          <div class="row">
            <header class="post-header col-xs-12">
              <p>About</p>
            </header>
          </div>
          <%= render partial: 'shared/basic_about', locals: {:user => current_user}  %>
        </section>
      </div>
      <div class="row">
        <section class="post post-small col-xs-12">
          <div class="row">
            <header class="post-header col-xs-12">
              <p>Photos</p>
            </header>
          </div>
          <div class="row">
            <section class="post-content col-xs-12">
              <div class="row">
                <% if @photos.size > 0 %>
                  <% @photos.each do |p1, p2, p3| %>
                    <%= render partial: "shared/photo_row", locals: { p1: p1, p2: p2, p3: p3 } %>
                  <% end %>
                <% end %>
                <div class="col-xs-12 text-center">
                  <h4><%= link_to "See More Photos", user_photos_path(current_user) %></h4>
                </div>
              </div>
            </section>
          </div>
        </section>
      </div>
      <div class="row">
        <section class="post post-small col-xs-12">
          <div class="row">
            <header class="post-header col-xs-12">
              <p>Friends</p>
            </header>
          </div>
          <div class="row">
            <section class="post-content col-xs-12">
              <div class="row">
                <% if @friends.size > 0 %>
                  <% @friends.each do |friend| %>
                    <div class="col-xs-6 col-md-4 photo text-center">
                      <img src="https://s3.amazonaws.com/viking_education/web_development/web_app_eng/user_silhouette_generic.gif" alt="profile photo">
                      <p><%= link_to "#{friend.profile.first_name}", user_profile_path(friend) %></p>
                    </div>
                  <% end %>
                <% else %>
                  <p>Please checkout the Timeline or use the search bar to locate your friends on Danebook!</p>
                <% end %>
                <div class="col-xs-12 text-center">
                  <h4><a href=>See More Friends</a></h4>
                </div>
              </div>
            </section>
          </div>
        </section>
      </div>
    </div>
    <div class="col-sm-7 col-md-8" id="new-post-hook">
      <div class="row">
        <section class="post post-small col-xs-12">
          <div class="row">
            <header class="post-header col-xs-12">
              <p>Post</p>
            </header>
          </div>
          <%= render partial: '/posts/new', locals: { :post => @post } %>
        </section>
      </div>
    </div>
    <% @posts.each do |post| %>
      <%= render partial: '/posts/show', locals: {:post => post} %>
    <% end %>
  </div>
</div>
