<body>
  <%= render partial: 'shared/navbar' %>
  <main class="container">
    <%= render partial: 'shared/current_user_navbar' %>
    <div class="row">
      <section id="about" class="post col-xs-12">
        <div class="row">
          <header class="post-header col-xs-12">
            <h2>Photos</h2>
          </header>
        </div>
        <div class="col-md-6">
          <div class="profile profile-bordered">
            <div class="profile-center">
              <div class="profile-info pull-left">
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <%=  form_for @photo do |photo_field| %>
          <%= photo_field.file_field :photo %>
          <%= photo_field.submit %>
        <% end %>
      </section>
    </div>
  </main>
</body>
